*target*

*.class
*.war

*.iml


*.idea

*.classpath
*.project

*settings_local.*

*development_local.*


*.settings


**/static/node_modules/**
*/static/tmp/**
*/static/dist/**

*.DS_Store
**.settings/org.eclipse.wst.common.component
